/* Hero */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem 2rem;
  animation: fadeIn 1.2s ease-in-out;
}

header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #0f1412;
}

.hero-content {
  display: flex;
  align-items: center;
  gap: 2rem;
  max-width: 900px;
  flex-wrap: wrap;
}

.profile-img {
  width: 225px;
  height: 225px;
  border-radius: 30%;
  object-fit: cover;
  border: 3px solid #3a4b40;
}

.hero-content h1 {
  font-size: 2.5rem;
  color: #f5f2eb;
}

.hero-content p {
  font-size: 1.1rem;
  max-width: 500px;
  color: #c3bfae;
}